:root {
  --color-yellow: #F4D04E;
  --color-gray-950: #111111;
  --color-gray-500: #6B6B6B;
  --color-white: #FFFFFF;
  
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-300: 1.5rem;
}